[Unit]
Description=Subspace Farmer Service
After=network.target

[Service]
ExecStart=/usr/local/bin/subspace-farmer farm --reward-address {{ reward_address }} --metrics-endpoints {{ metrics_endpoints }} --node-rpc-url {{ node_rpc_url }} {{ exec_start_paths }}
Restart=always
User=root

[Install]
WantedBy=multi-user.target
