[Unit]
Description=Subspace Farmer Service
After=network.target

[Service]
ExecStart=/usr/local/bin/subspace-farmer cluster --nats-server nats://192.168.1.150:4222 --prometheus-listen-on 0.0.0.0:9081 farmer --reward-address stBkn2rEqnxdeTVhoiSxELhDdqtURQjqoUpyAYc6F3VKvHxiA {{ exec_start_paths }}
Restart=always
User=root

[Install]
WantedBy=multi-user.target
